<div class="text-center">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>Created by {{User.name}} on {{format_date date_created}}</p>
    {{!-- Render comments --}}
    {{#if Comments.length}}
    <div class="col-md-6 post-list">
        <h3>COMMENTS:</h3>
         {{#each Comments as |comment|}}
         <div class="card">
            <p>
                {{comment.comment}}
            </p>
         </div>
         {{/each}}
    </div>
    {{/if}}
    <form class="new-comment-form form">
        <div class="form-group">
            <label for="comment">Write your comment here:</label>
            <textarea class="form-input" id="comment" name="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment!</button>
    </form>
</div>